<div class="main-banner-three">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>On-Demand <br>AI Data Collection</h1>
                            <p>An end-to-end service from optimized AI dataset production to model advancements. <br>Train models and evaluate. Repeat.</p>
                            <div class="banner-btn">
                                <a class="default-btn" routerLink="/pricing">Meet Alpy<span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="assets/img/home-three/1.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/2.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/3.png" class="wow fadeInLeft" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/4.png" class="wow zoomIn" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/5.png" class="wow bounceIn" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/6.png" class="wow fadeInDown" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/7.png" class="wow zoomIn" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/8.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/9.png" class="wow rotateIn" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/10.png" class="wow fadeInUp" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/11.png" class="wow zoomIn" data-wow-delay="0.6s" alt="image">
                            <img src="assets/img/home-three/main-image.png" class="wow zoomIn" data-wow-delay="0.12s" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="creative-shape"><img src="assets/img/main-banner-shape/home-shape-3.png" alt="main-image"></div>
    <div class="shape-img1"><img src="assets/img/main-banner-shape/2.png" alt="image"></div>
    <div class="shape-img2"><img src="assets/img/main-banner-shape/3.png" alt="image"></div>
</div>

<section class="tab-section ptb-100">
    <div class="section-title">
        <span>Our Services</span>
        <h3>Custom Data for AI training</h3>
    </div>
    <div class="container">
        <div class="tab solutions-list-tab">
            <ul class="tabs">
                <li><a href="#"><span>Text Collection</span></a></li>
                <li><a href="#"><span>Audio Collection</span></a></li>
                <li><a href="#"><span>Image Collection</span></a></li>
                <li><a href="#"><span>Video Collection</span></a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Text Collection</h3>
                                <p>Multilingual text data is critical to developing your natural language processing. Menu Data, Ticket Data, Business Card Data, Document Data, Receipt Data can all be used to extract vital information hidden deep within unstructured data and address a range of application cases. Wow AI provides a variety of Data Collection services. For example:</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Receipt data collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We assist you in collecting various forms of invoices such as online invoices, shopping invoices, cab receipts, hotel bills, and others.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Document data collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We can assist you with gathering all forms of crucial documents, such as a driver's licenses or a credit cards, from various locations.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Business card data collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Extract and digitize contact information from business cards with precise data validation and verification.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <div class="image-slideshow">
                                    <img src="assets/img/custom-data/test.png" alt="image" class="slide active">
                                    <img src="assets/img/custom-data/test1.png" alt="image" class="slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Audio Collection</h3>
                                <p>We can assist you in gathering speech data from over 120 languages and dialects, accents, regions, and voice varieties, as well as transcribe (including utterances), timestamp, and classify it. We provide a variety of speech data collection services, including but not limited to:</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Monologue Speech Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We can assist you in collecting various forms of invoices such as online invoices, shopping invoices, cab receipts, hotel bills, and others.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Dialogue Speech Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Collect guided or spontaneous speech data, or interactions between a Call Center Agent and a Caller, or a Caller and a Bot depending on your specific requirements.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Business card data collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Extract and digitize contact information from business cards with precise data validation and verification.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/Audio_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Image Collection</h3>
                                <p>Collect large volumes of image data (medical image dataset, facial dataset, ID dataset or any custom dataset) for a variety of use cases, such as image classification, image segmentation, facial recognition, OCR and so on, to add computer vision to your machine learning capabilities. For example:</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>MoFacial Data Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We can help you collect facial dataset of people from all walks of life with their consent form.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Medical Imaging Data Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We offer access to medical image datasets across many medical specialties such as Radiology, Oncology, Pathology, and others in multiple countries.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>ID Dataset Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We provide a collection of ID dataset for your KYC recognition model with users' consent forms.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/image_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Video Collection</h3>
                                <p>When it comes to video data collection services, Wow AI can provide you with the necessary skills, knowledge, resources, and scalability. Our videos are of the greatest quality and are specially designed to fit your needs. Each dataset is created specifically for you. Some examples:</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Human Posture Video Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We provide video datasets of diverse human postures like walking, sitting, sleeping, etc. in various lighting circumstances.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>CCTV/Surveillance Video Dataset</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We can gather surveillance footage from security cameras to help investigators train and detect people with criminal histories.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Traffic Video Collection</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>To train your machine learning models, we may collect traffic data from many locations under various lighting conditions and intensities.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/video_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area ptb-100">
    <div class="section-title">
        <h2>Why Choose Beework AI?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="100000">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Labelers</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="150000000">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Data Points</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="99">00</span>
                        <span class="sign-icon">%</span>
                    </h3>
                    <p>Data accuracy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h3>Data Collection Process</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-big-data"></i>
                    </div>
                    <h3>Requirement Definition</h3>
                    <p>An industry-specific consultant analyzes your business and data requirements.</p>
                    <div class="services-btn">
                        <a class="services-btn-one fw-bold">STEP 1 <i class="fa-solid fa-right-long fa-xs" style="color: #00B0ee;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-data-analytics"></i>
                    </div>
                    <h3>Project Design</h3>
                    <p>Designing project timeline and required workforce to deliver the requirements</p>
                    <div class="services-btn">
                        <a class="services-btn-one fw-bold">STEP 2 <i class="fa-solid fa-right-long fa-xs" style="color: #00B0ee;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-document"></i>
                    </div>
                    <h3>Work Screen Design</h3>
                    <p>Building a custom labeling project with our no-code solution</p>
                    <div class="services-btn">
                        <a class="services-btn-one fw-bold">STEP 3 <i class="fa-solid fa-right-long fa-xs" style="color: #00B0ee;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-chart"></i>
                    </div>
                    <h3>Worker Matching Selection</h3>
                    <p>Selecting the most optimal workforce from the 500K pool</p>
                    <div class="services-btn">
                        <a class="services-btn-one fw-bold">STEP 4 <i class="fa-solid fa-right-long fa-xs" style="color: #00B0ee;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-science"></i>
                    </div>
                    <h3>Quality Control</h3>
                    <p>Track and respond to customer issues in real time</p>
                    <div class="services-btn">
                        <a class="services-btn-one fw-bold">STEP 5 <i class="fa-solid fa-right-long fa-xs" style="color: #00B0ee;"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-data-management"></i>
                    </div>
                    <h3>Final Output Delivery</h3>
                    <p>Complete the task and the customer conducts acceptance</p>
                    <div class="services-btn">
                        <div class="services-btn">
                            <a class="services-btn-one fw-bold">STEP 6 <i class="fa-solid fa-circle-check" style="color: #00B0ee;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-section pb-70">
    <div class="container">
        <div class="section-title">
            <span>Project</span>
            <h3>Our Latest Project</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/1.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Data Analysis</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/2.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Business Intelligence</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/3.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Data Management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-subscribe></app-subscribe>
