<footer class="footer-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h1>EXPERT DATA AI SERVICES FOR MACHINES BY HUMANS</h1>
                    </div>
                    <p>A global provider of end-to-end AI training solutions</p>
                    <div class="banner-btn">
                        <a class="default-btn" routerLink="/pricing">Meet Alpy<span></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Company</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/projects">Join Community</a></li>
                        <li><a routerLink="/Privacy">Privacy</a></li>
                        <li><a routerLink="/Security">Security</a></li>
                        <li><a routerLink="/contact">Contact</a></li>
                    </ul>
                </div>    
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>AI Data Service</h3>
                    </div>
                    <ul class="footer-quick-links">
                        <li><a routerLink="/data-annotation">Data Annotation</a></li>
                        <li><a routerLink="/data-collection">Data Collection</a></li>
                        <li><a routerLink="/data-editing">Data Editing</a></li>
                        <li><a routerLink="/data-collection">CrowdSourcing</a></li>
                    </ul>
                </div>    
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="footer-heading">
                        <h3>Contact</h3>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-envelope"></i>
                        <h3>Email</h3>
                        <span><a href="mailto:contact@beework.ai">contact&#64;beework.ai</a></span>
                    </div>
                    <div class="footer-info-contact">
                        <i class="flaticon-maps-and-flags"></i>
                        <h3>Address</h3>
                        <span>17th Floor, Van Phuc Building, To Huu Street, Ha Dong District, Hanoi, Vietnam</span>
                    </div>
                    <ul class="footer-social">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="partner-shape-img1">
        <img src="assets/img/shape/partnar-shape-2.png" alt="image">
    </div>
</footer>

<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <p>Copyright ⓒ 2025.All rights reserved by <a href="https://beework.ai/" target="_blank">BEEWORK</a></p>
            </div>
        </div>
    </div>
</div>

<div class="go-top">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-up"></i>
</div>