<div class="main-banner-four">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="main-banner-content">
                            <h1>Expert Data Annotation Services for Machines By Humans</h1>
                            <p>Accurately annotate your Text, Image, Audio, and Video data to improve your Artificial Intelligence (AI) and Machine Learning (ML) models.</p>
                            <div class="banner-btn">
                                <a class="default-btn" routerLink="/pricing">Meet Alpy<span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image"> 
                            <img src="assets/img/home-four/main-image.png" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="creative-shape"><img src="assets/img/main-banner-shape/home-shape-4.png" alt="main-image"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<section class="tab-section ptb-100">
    <div class="section-title">
        <span>Our Services</span>
        <h3>Data Annotation Services</h3>
    </div>
    <div class="container">
        <div class="tab solutions-list-tab">
            <ul class="tabs">
                <li><a href="#"><span>Computer Vision Annotation</span></a></li>
                <li><a href="#"><span>Natural Language Annotation</span></a></li>
                <li><a href="#"><span>Audio and Sound Annotation</span></a></li>
                <li><a href="#"><span>3D Point Cloud Annotation</span></a></li>
            </ul>
            <div class="tab_content">
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Computer Vision Annotation</h3>
                                <p>We deliver precise computer vision solutions with our expert image and video dataset annotation services. This human-guided task involves identifying, categorising, and drawing boundaries around specific elements, helping machines learn to interpret visual information accurately and consistently.</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Bounding Boxes</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Our computer vision experts use bounding box annotation to detect and define object locations in images and videos. By carefully drawing rectangular frames around target objects, we enable machine learning algorithms to identify and track objects with precision. </p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Polygon Annotation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Our expert annotators use polygon annotation to precisely outline objects with complex or irregular shapes. By plotting connected points along each vertex and edge, we create tight-fitting polygons that accurately capture the object’s exact silhouette.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Image Segmentation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p> Our team specializes in image segmentation, a precise annotation method that partitions images into distinct segments at the pixel level. Each pixel is carefully assigned to predefined classes or categories, allowing for detailed identification of specific objects or areas of interest.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Keypoint Annotation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p> Keypoint annotation involves precisely marking critical points of interest in images and videos, such as facial landmarks, body joints, or product features. Our annotators create detailed keypoint skeletons by connecting multiple points, enabling AI models to understand spatial relationships and object orientation.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-image">
                                <div class="image-slideshow">
                                    <img src="assets/img/custom-data/test.png" alt="image" class="slide active">
                                    <img src="assets/img/custom-data/test1.png" alt="image" class="slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Natural Language Annotation</h3>
                                <p>Aya Data’s expert linguists provide high-quality natural language annotations to help you build accurate training datasets for your NLP projects.</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Named Entity Recognition</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We customize named entity recognition solutions to extract and categorize specific information like names, organizations, and locations from your unstructured text data across various sources.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Sentiment Analysis</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We label text and audio data to identify sentiment direction and intensity, enabling machine learning models to accurately analyze customer feelings.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Text Annotation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Our experts provide customised text annotation services, identifying linguistic elements and entities to help build effective machine learning models aligned with your specific requirements.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/Audio_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>Audio and Sound Annotation</h3>
                                <p>We combine AI tools and manual tagging to classify audio elements like speech, music, and sounds, helping users efficiently search and locate specific audio content.</p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Speech-to-Text Transcription</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We enhance speech-to-text accuracy by annotating key audio elements including speaker characteristics, accents, and background conditions to improve transcription quality.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Audio Classification and Labeling</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>Our experts combine manual expertise with AI tools to accurately classify audio content by genre, artist, and emotion, delivering efficient and precise audio data annotation.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>Event Classification</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>We segment and annotate audio recordings to identify specific events, enabling quick analysis and monitoring of sound patterns for security and communication purposes.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/image_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs_item">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-12">
                            <div class="tab-solution-content">
                                <h3>3D Point Cloud Annotation</h3>
                                <p>Point clouds, captured by sensors like LiDAR (Light Detection and Ranging), represent data points in 3D space and are vital for applications like autonomous vehicles and robotics. Our team at Aya Data specializes in precise 3D point cloud and LiDAR annotation, labeling objects and scenes to create high quality datasets. </p>
                                <ul class="tab-list">
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>3D Bounding Boxes</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>3D bounding boxes encapsulate objects in 3D space, providing position, orientation, and dimensions. Our team precisely places these boxes around objects, crucial for tasks like autonomous driving.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>3D Polygon Annotation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>3D polygon annotation creates detailed outlines of objects in three-dimensional space. We trace complex shapes, ideal for applications requiring fine-grained object segmentation.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>3D Image Segmentation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p> 3D semantic segmentation assigns class labels to individual points or voxels in a 3D scene. Our annotators carefully categorise each element, enabling AI to understand complex 3D environments.</p>
                                        </div>
                                    </li>
                                    <li class="expandable-item">
                                        <div class="item-header">
                                            <i class="flaticon-tick-1"></i>
                                            <h4>LiDAR Annotation</h4>
                                        </div>
                                        <div class="item-content">
                                            <p>LiDAR annotation involves labeling 3D data from LiDAR sensors or scans to identify objects like vehicles, pedestrians, buildings, and terrain. Our experts segment and classify point clouds, enabling accurate object recognition for applications in autonomous driving, robotics, and geospatial analysis.</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="tab-btn">
                                    <a class="default-btn" href="#">Discover now <span></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-12">
                            <div class="tab-video">
                                <div class="ratio ratio-4x3">
                                    <video class="embed-responsive-item" autoplay loop muted>
                                        <source src="assets/img/video_collection.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area ptb-50">
    <div class="section-title">
        <h2>Why Choose Beework AI?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="100000">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Labelers</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="150000000">00</span>
                        <span class="sign-icon">+</span>
                    </h3>
                    <p>Data Points</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <h3>
                        <span class="odometer" data-count="99">00</span>
                        <span class="sign-icon">%</span>
                    </h3>
                    <p>Data accuracy</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-section ptb-50">
    <div class="container">
        <div class="section-title">
            <h3>Beework AI Provides</h3>
            <p>To effectively deploy your AI initiative, you’ll need large volumes of specialized training datasets. Beework is one of the very few companies in the market that ensures world-class, reliable AI training data at scale complying with regulatory/ GDPR requirements.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-big-data"></i>
                    </div>
                    <h3>Expert Workforce</h3>
                    <p>Our pool of experts is highly proficient in data annotation and consistently delivers accurate, high-quality labeled datasets tailored.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-data-analytics"></i>
                    </div>
                    <h3>Scalability</h3>
                    <p>Our domain experts can handle high volumes while maintaining quality & can scale operations as your business grows.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-document"></i>
                    </div>
                    <h3>Growth & Innovation</h3>
                    <p>We prepare the data, saving time & resources to focus on the development of algorithms leaving the tedious part of the job, to us.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-chart"></i>
                    </div>
                    <h3>Competitive Pricing</h3>
                    <p>As one of the leading data labeling companies, we ensure projects are delivered within your budget with our robust data annotation platform</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-science"></i>
                    </div>
                    <h3>Eliminate Bias</h3>
                    <p>AI models fail because teams working on data unintentionally introduce bias, skewing the end result and affecting accuracy.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-data-management"></i>
                    </div>
                    <h3>Better Quality</h3>
                    <p>Our proprietary platform & skilled workforce use multiple quality control methods to meet or exceed quality standards.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fun-facts-area-2 ptb-50">
    <div class="section-title">
        <span style="color: #00b0ee;">Our Working Process</span>
        <h2>Data Annotation Process</h2>
    </div>
    <div class="banner-image">
        <div class="d-flex justify-content-center">
        <img src="assets/img/Data-Anno-Process.png" class="img-fluid" style="max-width: 1500px;">
        </div>
    </div>
    <div class="other-option" style="margin-top: 50px; display: flex; justify-content: center;">
        <a class="default-btn" routerLink="/contact">Discover now<span></span></a>
      </div>
</section>

<section class="project-section ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Project</span>
            <h3>Our Latest Project</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/1.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Data Analysis</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/2.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Business Intelligence</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-project">
                    <div class="project-image">
                        <img src="assets/img/project/3.png" alt="image">
                    </div>
                    <div class="image-hover">
                        <div class="text">
                            <h3>Data is the new science big data holds the answer</h3>
                            <a routerLink="/projects-details" class="read-more">Data Management</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="contact-section ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image">
                    <img src="assets/img/contact.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="submit-btn">Submit Now!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
